@import url('../../../pages/common/css/base-mobile.css?__inline');
@media screen and (max-width: 640px) {
  /*czj*/
  .form-block {
    width: 100%;
  }
  /*czj*/
  .breadcrumb-nav {
    padding: 10px;
  }
  .tab-box .tab_of .tab_td_last {
    text-align: left;
  }
  .tab-list > li {
    font-size: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .tab-list.long > li {
    min-width: inherit;
  }
  .sub-page-main.trade-record-main {
    padding: 16px 10px;
    margin-top: 8px;
    font-size: 10px;
  }
  .sub-page-main.trade-record-main .table-con {
    overflow-x: auto;
  }
  .sub-page-main.trade-record-main .table-con table {
    min-width: 500px;
  }
  .common-table td,
  .common-table th {
    padding: 10px;
  }
  .sub-page-main.trade-record-main .table-con table td,
  .sub-page-main.trade-record-main .table-con table th {
    font-size: 10px;
  }
  .sub-page-title {
    font-size: 16px;
  }
  .asset-title .asset-num .asset-tips-panel {
    z-index: 6;
  }
  .common-table.asset td,
  .common-table.asset th {
    font-size: 10px;
    padding: 10px;
  }
  .asset-table-section {
    padding: 0 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
  }
  .asset-table-section > table {
    min-width: 400px;
  }
  .asset-table-section td .common-btn {
    font-size: 10px;
    width: 54px;
    height: 28px;
    line-height: 28px;
    margin: 5px 0;
  }
  .asset-table-section > table.asset th:nth-of-type(1) {
    width: 24% !important;
  }
  .asset-title .asset-num .asset-tips-panel {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .recharge-title {
    font-size: 14px !important;
  }
  .recharge-title .btn-box {
    right: 20px;
  }
  .recharge-title .btn-box .common-btn {
    margin: 0 10px;
  }
  .recharge-balance {
    width: 100%;
  }
  .recharge-balance .p1 {
    font-size: 14px;
  }
  .recharge-balance .p2 {
    font-size: 18px;
  }
  .recharge-table-con {
    overflow-x: auto;
  }
  .recharge-table-con > table {
    min-width: 400px;
  }
  .rc-choose-list {
    width: 270px;
  }
  .white-section.ng-scope {
    overflow-x: hidden;
  }
  .rc-main {
    width: 90%;
    font-size: 12px;
  }
  .recharge-balance .btn-box {
    bottom: 75px;
  }
  .rc-main .p4 {
    height: auto;
  }
  .rc-main .p4 > p {
    line-height: normal;
    word-wrap: break-word;
  }
  .rc-main .p4 > * {
    float: none!important;
  }
  .rc-main .p4 > div .QRcode {
    top: 0;
    left: 40%;
  }
  .rc-copy-title > span {
    font-size: 20px;
  }
  .rc-form .form-box .form-control {
    width: 100%;
  }
  .rc-form .form-control .error-text {
    left: 0;
    top: 38px;
    font-size: 10px;
  }
  .rc-form .form-control .error-text .warning-icon {
    width: 12px;
    height: 12px;
  }
  .bpopup-wrap .modal_box {
    top: 15%;
    left: 5%;
    width: 90%;
    margin: 0;
    height: auto;
  }
  .bpopup-wrap .modal_box .cont .verification {
    width: 100%;
  }
  .bpopup-wrap .modal_box .cont .verification input {
    width: 70%;
  }
  .bpopup-wrap .modal_box .cont .verification .send {
    width: 30%;
  }
  .bpopup-wrap .modal_box .cont .stip .err_tip {
    height: auto;
    line-height: normal;
    padding: 5px 0 0 22px;
    background-position: left 6px;
  }
  .trade-order-section > dl {
    padding: 15px 25px;
  }
  .trade-order-section > dl > dd {
    padding-left: 20px;
  }
  .trade-order-section > dl > dd > p {
    word-break: break-all;
  }
  .trade-order-section .form-box > label,
  .trade-order-section .form-box .form-content {
    float: none;
    display: block;
    width: 100%;
  }
  .trade-order-section .order-num-control {
    width: 100%!important;
  }
  .trade-order-section .order-num-arrow {
    margin: -12px 15px;
    margin-left: 50%;
    transform: rotate(90deg) translateX(-50%);
    display: none;
  }
  .trade-order-section .order-num-control > div:nth-of-type(1) {
    width: 100%!important;
  }
  .trade-order-section .order-num-control > div:nth-of-type(1) > p {
    width: 100%!important;
  }
  .trade-order-section .form-box .common-btn {
    width: 100%;
  }
  .trade-order-section .order-main {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 30px;
  }
  .trade-order-section .bee_list li {
    width: 100%;
    margin-bottom: 15px;
  }
  .trade-order-section .bee_list li:last-child {
    margin-bottom: 0;
  }
  .trade-order-section .order-main .form-box .common-btn {
    width: 46%;
    margin-right: 2%;
  }
  .trade-order-section .order-main .tips-box {
    font-size: 12px;
  }
  .order-bpopup-body {
    width: 90%;
    min-height: inherit;
    padding-bottom: 90px;
  }
  .order-bpopup-body .title {
    font-size: 15px;
    line-height: 50px;
  }
  .order-bpopup-body .icon.icon-16.icon-close {
    width: 14px;
    height: 14px;
    top: 18px;
  }
  .order-bpopup-body .form-list {
    font-size: 13px;
  }
  .order-bpopup-body .form-list li {
    line-height: 50px;
  }
  .order-bpopup-body .submit-btn {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    box-shadow: none;
  }
  .increase-section ul.top-symbol-list > li {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .chart-panel-section {
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .chart-panel-section .chart-con {
    height: 220px;
    margin-top: 15px;
  }
  .asset-section {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    box-sizing: border-box;
  }
  .asset-section .asset-sum {
    margin-top: 7px;
  }
  .asset-section .profit-list > li {
    width: 33.33%;
  }
  .statistic-section {
    padding: 15px 12px 20px 15px;
  }
  .statistic-section .panel.fr {
    width: 100%;
    margin-top: 15px;
  }
  .statistic-section .panel.fr > h3,
  .statistic-section .panel.fr > .content {
    padding-left: 0;
  }
  .statistic-section .panel.fr .content > h4 {
    margin-top: 15px;
  }
  .statistic-section .panel > table {
    width: 100%;
  }
  .statistic-section:before {
    left: 0;
    border-left: none;
  }
  .statistic-section .panel.fr .content .fee-list {
    padding: 12px 0 0 0;
  }
  .statistic-section .panel.fr .content .fee-list > li {
    margin-right: 0;
    float: left;
    width: 33.333%;
    min-width: auto!important;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .statistic-section .panel.fr .content .fee-list > li:nth-child(4) {
    clear: left;
  }
  .statistic-section .panel.fr .content .fee-list > li:last-child {
    margin-right: 0;
  }
  .chart-half {
    width: 100%;
  }
  .chart-panel {
    padding-right: 15px;
  }
  .chart-panel > .por {
    margin-bottom: 25px;
  }
  .chart-panel > .por > .chart-tips {
    font-size: 10px;
    bottom: -25px;
  }
  .trade-detail-section .common-table td,
  .trade-detail-section .common-table th {
    padding: 8px;
    font-size: 10px;
  }
  /*用户认证页*/
  .user-main .content-panel .title,
  .guide-main .content-panel .title {
    font-size: 18px;
  }
  .user-main .content-panel .form-box .form-control .w-left {
    float: none;
    width: 100%;
  }
  .user-main .content-panel .form-box .form-control .w-left:last-child {
    float: none;
  }
  .user-main .content-panel .form-box .form-control span.w-left {
    width: 100%;
    float: none;
    text-indent: 10px;
    text-align: left;
  }
  .user-main .content-panel .form-box .form-control span.w-left:last-child {
    float: right;
  }
  .user-main .content-panel .form-box .form-control span.w-span {
    float: none;
    line-height: 40px;
    width: auto;
    padding: 0;
  }
  .user-main .content-panel .form-box .form-control .text-tip {
    width: auto;
  }
  .user-main .content-panel .form-box .form-control ul.card-pic li.card {
    width: 100%;
    text-align: center;
  }
  .user-main .content-panel .form-box .form-control ul.card-pic li.card > div {
    background-size: 200px 110px;
    background-position: center center;
  }
  .user-main .content-panel .form-box .form-control ul.card-pic li + li {
    margin-left: 0px;
    margin-top: 15px;
  }
  .user-main .content-panel .form-box.twospan label {
    margin-top: 55px;
  }
  .user-main .content-panel .form-box.twospan .form-control span {
    width: 100%;
  }
  .user-main .content-panel .form-box.twospan .form-control span.fixed-text {
    position: inherit;
  }
  .user-main .content-panel .form-box.twospan .form-control span.fixed-text:first-child {
    position: absolute;
  }
  .user-main .content-panel .form-box.twospan .form-control span:nth-child(2n) {
    margin-top: 42px;
    padding: 0px;
    display: inline-block;
  }
  .hongbao-info .info-num {
    width: 100%;
    float: initial;
  }
  .hongbao-info .go-auth {
    margin-left: 0px;
    line-height: 36px;
  }
  .login_ul {
    width: 95%;
  }
}
@media screen and (max-width: 320px) {
  .tab-list > li {
    padding: 5px;
  }
  .trade-order-section > dl > dd {
    padding-left: 0;
  }
  .increase-section ul.top-symbol-list > li {
    font-size: 10px;
  }
  /*用户认证页*/
  .user-main .content-panel .title,
  .guide-main .content-panel .title {
    font-size: 18px;
  }
  .user-main .content-panel .form-box .form-control .w-left {
    float: none;
    width: 100%;
  }
  .user-main .content-panel .form-box .form-control .w-left:last-child {
    float: none;
  }
  .user-main .content-panel .form-box .form-control span.w-left {
    width: 100%;
    float: none;
    text-indent: 10px;
    text-align: left;
  }
  .user-main .content-panel .form-box .form-control span.w-left:last-child {
    float: right;
  }
  .user-main .content-panel .form-box .form-control span.w-span {
    float: none;
    line-height: 40px;
    width: auto;
    padding: 0;
  }
  .user-main .content-panel .form-box .form-control .text-tip {
    width: auto;
  }
  .user-main .content-panel .form-box .form-control ul.card-pic li.card {
    width: 100%;
    text-align: center;
  }
  .user-main .content-panel .form-box .form-control ul.card-pic li.card > div {
    background-size: 200px 110px;
    background-position: center center;
  }
  .user-main .content-panel .form-box .form-control ul.card-pic li + li {
    margin-left: 0px;
    margin-top: 15px;
  }
  .user-main .content-panel .form-box.twospan label {
    margin-top: 55px;
  }
  .user-main .content-panel .form-box.twospan .form-control span {
    width: 100%;
  }
  .user-main .content-panel .form-box.twospan .form-control span.fixed-text {
    position: inherit;
  }
  .user-main .content-panel .form-box.twospan .form-control span.fixed-text:first-child {
    position: absolute;
  }
  .user-main .content-panel .form-box.twospan .form-control span:nth-child(2n) {
    margin-top: 42px;
    padding: 0px;
    display: inline-block;
  }
  .hongbao-info .info-num {
    width: 100%;
    float: initial;
  }
  .hongbao-info .go-auth {
    margin-left: 0px;
    line-height: 36px;
  }
}
